body{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container{
    display: inline-block;
    background-color: rgb(117, 141, 164);
    border-radius: 9px;
    box-shadow: 4px 0px 7px black;
    border: 1px solid black;
}
button{
    height: 60px;
    width: 60px;
    margin: 8px 4px;
    border-radius: 20px;
    font-size: x-large;
    background-color: rgba(251, 251, 251, 0.758);
}

input{
    padding: 20px 5px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgba(184, 179, 168, 0.774);
    color: white;
    font-size: x-large;
    text-align: right;
}
#equal{
    background-color: orange;
    color: white;
}